<!doctype html>
<html lang="fr">
<head>
    <title></title>
</head>
<body>
    <h1> Création d'un contact :</h1>

    <form method="post">
        <div>
            <label for="LastName"> LastName : </label>
            <div>
                <input id="LastName" type="text" name="LastName"  />
            </div>
        </div>
        <div>
            <label for="FirstName"> FirstName : </label>
            <div>
                <input id="FirstName" type="text" name="FirstName"  />
            </div>
        </div>
        <div>
            <label for="Email"> Email : </label>
            <div>
                <input id="Email" type="email" name="Email" />
            </div>
        </div>
        <div>
            <label for="CategoryId"> Category : </label>
            <div>
                <select name="CategoryId" required>
                    <option value="0"> Select a category </option>
                    <option value="1"> Personnel </option>
                    <option value="2"> Professionnel </option>
                </select>
            </div>
        </div>
        <div>
            <input type="submit" value="Create Contact" />
        </div>
    </form>
</body>
</html>