@{
    Layout = "_Layout";
    ViewBag.Title = "Contact Index";
}
@model IEnumerable<Contact>

<h1>Contacts</h1>
<table class="table mt-3">
    <thead class="thead-dark">
        <tr>
            <th>LastName</th>
            <th>FirstName</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Contact contact in Model)
        {
        <tr>
            <td>@contact.LastName</td>
            <td>@contact.FirstName</td>
            <td>@contact.Email</td>
            <td><a asp-action="Details" asp-controller="Contact" asp-route-id="@contact.Id"> Details</a></td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Create" asp-controller="Contact"> New contact</a>
</div>

