@{
    Layout = "_Layout";
    ViewBag.Title = "Home Index";

}

<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim vitae felis sed mattis. Etiam interdum massa metus, eget rhoncus lectus aliquet convallis. Sed et tincidunt nulla. Sed tincidunt facilisis aliquet. Maecenas id odio eu nisi sagittis luctus non sit amet arcu. Etiam aliquam libero in odio efficitur gravida. Donec viverra vestibulum libero, non hendrerit felis pulvinar et. Praesent in mauris urna. Duis pellentesque, arcu in fringilla dapibus, tellus neque sodales est, tempor dignissim odio urna a sapien. Curabitur rhoncus ac metus sit amet consectetur. </p>
